@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

input[type="radio"]:checked + label{
    background-color: #fefae0;
  }

  .inputBorder {
    width: 100%;
    border: 1px solid grey;
    border-radius: 6px;
  }

  .inputClass{
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-family: 'Helvetica Neue', 'sans-serif';
    font-size: 1rem;
  }